In [1]:
import pandas as pd
import requests
from pandas_profiling import ProfileReport
import sweetviz as sv
import numpy as np

In [28]:
unnecesary_columns = ['V_ID','P_ID','C_SEV','C_YEAR','P_USER']

In [44]:
data = pd.read_csv('NCDB_1999_to_2014.csv',low_memory=False)#.drop(unnecesary_columns,1)

In [45]:
data.head()

,C_YEAR,C_MNTH,C_WDAY,C_HOUR,C_SEV,C_VEHS,C_CONF,C_RCFG,C_WTHR,C_RSUR,...,V_ID,V_TYPE,V_YEAR,P_ID,P_SEX,P_AGE,P_PSN,P_ISEV,P_SAFE,P_USER
0,1999,01,1,20,2,02,34,UU,1,5,...,01,06,1990,01,M,41,11,1,UU,1
1,1999,01,1,20,2,02,34,UU,1,5,...,02,01,1987,01,M,19,11,1,UU,1
2,1999,01,1,20,2,02,34,UU,1,5,...,02,01,1987,02,F,20,13,2,02,2
3,1999,01,1,08,2,01,01,UU,5,3,...,01,01,1986,01,M,46,11,1,UU,1
4,1999,01,1,08,2,01,01,UU,5,3,...,99,NN,NNNN,01,M,05,99,2,UU,3

In [57]:
c_groups = [col for col in data.columns if col[0]=="C"]

In [75]:
c_groups = [col for col in data.columns if col[0]=="C"]
#c_groups.append('P_ID')
df_columns = [col for col in data.columns if col[0]=="C"]
df_columns.append('P_ID')
data = data.merge(data[df_columns].groupby(df_columns).size().reset_index().drop('P_ID',axis=1).rename(columns={0:"A_PCOUNT"}),on=c_groups)

In [46]:
print(f'Numero de registros: {data.shape[0]}')
print(f'Numero de columnas: {data.shape[1]}')

Numero de registros: 5860405
Numero de columnas: 22

In [47]:
data.dtypes.to_dict()

{'C_YEAR': dtype('int64'),
 'C_MNTH': dtype('O'),
 'C_WDAY': dtype('O'),
 'C_HOUR': dtype('O'),
 'C_SEV': dtype('int64'),
 'C_VEHS': dtype('O'),
 'C_CONF': dtype('O'),
 'C_RCFG': dtype('O'),
 'C_WTHR': dtype('O'),
 'C_RSUR': dtype('O'),
 'C_RALN': dtype('O'),
 'C_TRAF': dtype('O'),
 'V_ID': dtype('O'),
 'V_TYPE': dtype('O'),
 'V_YEAR': dtype('O'),
 'P_ID': dtype('O'),
 'P_SEX': dtype('O'),
 'P_AGE': dtype('O'),
 'P_PSN': dtype('O'),
 'P_ISEV': dtype('O'),
 'P_SAFE': dtype('O'),
 'P_USER': dtype('O')}

In [48]:
nas = ["UU","XX","U","X","XXXX","NN","NNNN","N","UUUU"]
others = {
    "P_SAFE" : "14",
    "P_PSN": "100",
    "V_TYPE": "24",
    "C_TRAF": "19",
    "C_RALN": "7",
    "C_RSUR": "10",
    "C_WTHR": "8",
    "C_RCFG": "13",
    "C_CONF": "42"
}
int_types = ["C_YEAR","C_MNTH","C_WDAY","C_VEHS","V_YEAR","C_HOUR","P_AGE"]
categories = [col for col in data.columns if col not in int_types]
target_columns = ["C_SEV","P_ISEV"]
#ver q hacer con este C_HOUR

In [49]:
for na in nas:
    data[categories] = data[categories].replace(na,pd.NA)

for key,value in others.items():
    data[key] = data[key].replace(to_replace=r'^Q.*', value=value, regex=True)
    
#data.replace(to_replace=r'^[A-Z].*',value=np.nan, regex=True,inplace=True)

F:\Anaconda\envs\python37v2\lib\site-packages\pandas\core\missing.py:49: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask = arr == x

In [52]:
data[int_types] = data[int_types].apply(pd.to_numeric, errors='coerce',downcast='integer')
data[data["V_YEAR"]=="NNNN"]["V_YEAR"]

Series([], Name: V_YEAR, dtype: float64)

In [54]:
#data['V_YEAR'].replace("NNNN",pd.NA,inplace=True)
data['A_VAGE'] = data['C_YEAR'] - pd.to_numeric(data['V_YEAR'])

In [ ]:
data = data.drop(unnecesary_columns,1)

In [53]:
data.dtypes.to_dict()

{'C_YEAR': dtype('int16'),
 'C_MNTH': dtype('float64'),
 'C_WDAY': dtype('float64'),
 'C_HOUR': dtype('float64'),
 'C_SEV': dtype('int64'),
 'C_VEHS': dtype('float64'),
 'C_CONF': dtype('O'),
 'C_RCFG': dtype('O'),
 'C_WTHR': dtype('O'),
 'C_RSUR': dtype('O'),
 'C_RALN': dtype('O'),
 'C_TRAF': dtype('O'),
 'V_ID': dtype('O'),
 'V_TYPE': dtype('O'),
 'V_YEAR': dtype('float64'),
 'P_ID': dtype('O'),
 'P_SEX': dtype('O'),
 'P_AGE': dtype('float64'),
 'P_PSN': dtype('O'),
 'P_ISEV': dtype('O'),
 'P_SAFE': dtype('O'),
 'P_USER': dtype('O')}

In [22]:
data[int_types].apply(pd.to_numeric, errors='coerce',downcast='integer')
#data[int_types] = data[int_types].astype(pd.Int64Dtype(),errors='ignore')
data[categories] = data[categories].astype('category')
data.dtypes.to_dict()

{'C_YEAR': dtype('int64'),
 'C_MNTH': dtype('O'),
 'C_WDAY': dtype('O'),
 'C_HOUR': dtype('O'),
 'C_SEV': CategoricalDtype(categories=[1, 2], ordered=False),
 'C_VEHS': dtype('O'),
 'C_CONF': CategoricalDtype(categories=['01', '02', '03', '04', '05', '06', '21', '22', '23', '24',
                   '25', '31', '32', '33', '34', '35', '36', '41', '42'],
                  ordered=False),
 'C_RCFG': CategoricalDtype(categories=['01', '02', '03', '04', '05', '06', '07', '08', '09', '10',
                   '13'],
                  ordered=False),
 'C_WTHR': CategoricalDtype(categories=['1', '2', '3', '4', '5', '6', '7', '8', 'U'], ordered=False),
 'C_RSUR': CategoricalDtype(categories=['1', '10', '2', '3', '4', '5', '6', '7', '8', '9', 'U'], ordered=False),
 'C_RALN': CategoricalDtype(categories=['1', '2', '3', '4', '5', '6', '7', 'U'], ordered=False),
 'C_TRAF': CategoricalDtype(categories=['01', '02', '03', '04', '05', '06', '07', '08', '09', '10',
                   '11', '12', '13', '15', '16', '17', '18', '19'],
                  ordered=False),
 'V_TYPE': CategoricalDtype(categories=['01', '05', '06', '07', '08', '09', '10', '11', '14', '16',
                   '17', '18', '19', '20', '21', '22', '23', '24', 'NN'],
                  ordered=False),
 'V_YEAR': dtype('O'),
 'P_SEX': CategoricalDtype(categories=['F', 'M', 'N', 'U'], ordered=False),
 'P_AGE': dtype('O'),
 'P_PSN': CategoricalDtype(categories=['100', '11', '12', '13', '21', '22', '23', '31', '32', '33',
                   '96', '97', '98', '99', 'NN'],
                  ordered=False),
 'P_ISEV': CategoricalDtype(categories=['1', '2', '3', 'N', 'U'], ordered=False),
 'P_SAFE': CategoricalDtype(categories=['01', '02', '09', '10', '11', '12', '13', '14', 'NN'], ordered=False),
 'P_USER': CategoricalDtype(categories=['1', '2', '3', '4', '5', 'U'], ordered=False)}

In [21]:
data["C_MNTH"].unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', <NA>], dtype=object)

In [24]:
#my_report = sv.analyze(data)
#my_report.show_notebook()
profile = ProfileReport(data, title="Crashes EDA")
profile.to_widgets()

F:\Anaconda\envs\python37v2\lib\site-packages\pandas_profiling\model\correlations.py:126: UserWarning: There was an attempt to calculate the cramers correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"cramers": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/pandas-profiling/pandas-profiling/issues
(include the error message: 'The internally computed table of expected frequencies has a zero element at (0, 45).')
  correlation_name=correlation_name, error=error

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   â€¦

In [25]:
data["P_ISEV"].isna().sum()

0